<!DOCTYPE html>
<html lang="en">
<title>Welcome Page</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif}
.w3-bar,h1,button {font-family: "Montserrat", sans-serif}
.fa-anchor,.fa-coffee {font-size:200px}
</style>
<body>

<header class="w3-container w3-theme w3-padding" id="myHeader">
  <i onclick="w3_open()" class="fa fa-bars w3-xlarge w3-button w3-theme"></i> 
  <div class="w3-center"><br><br>
  <h4>DND Reinvented</h4>
  <h1 class="w3-xxxlarge w3-animate-bottom">DUNGEONS & DRAGONS</h1>
  <p class="w3-xlarge">Created by Emily Nguyen and Nestor Venegas</p>
    <div class="w3-padding-32"><br><br>
    </div>
  </div>
</header>

<header class="w3-container w3-black w3-center" style="padding:128px 16px">
  <h1 class="w3-margin w3-jumbo">Explore your imagination</h1>
  <p class="w3-xlarge">Learn how to play</p>
    <a href="http://localhost:3000/instructions">
      <button class="w3-button w3-blue w3-padding-large w3-large ">Game Rules</button>
    </a>
</header>
<div class="w3-row-padding w3-padding-64 w3-container">
  <div class="w3-content">
    <div class="w3-center">
    <header class="w3-container w3-blue w3-center" style="padding:128px 16px">
      <h1>Hello <%= @user.username %>, welcome to DND.</h1>
      <h3>It's a great day to throw hands :)</h3>
      </header>
      <hr>
      <header class="w3-container w3-black w3-center" style="padding:80px 16px"> 
      <h5>Throw hands is a slang term that means "Fight." It is typically used online but is also commonly spoken in real-life to refer to physical or verbal confrontations. The term comes from lifting, or throwing, your hands up like a boxer at the start of a match to get ready to attack another person or defend yourself.</h5>
      </header>
      <p class="w3-text-grey">

      <h3> Create a new Character </h3>
      <%= button_to 'Create Character', new_character_path, method: :get %><br><br>
      <%= button_to 'My Characters List', characters_path, method: :get %><br><br>
      
      <h3> Edit your account </h3>
      <%= button_to "Edit Account", edit_user_path(@user), method: 'get' %><br><br>

      <h3> Delete your account </h3>
      <%= button_to "Delete Account", @user, method: 'delete' %><br><br>



      <h3> Logout </h3>
      <%= form_tag ({controller: 'sessions', action: 'destroy', method: 'post'}) do %>
        <input type=submit value='Logout'>
      <% end %></p>
    </div>

    
  </div>
</div>

