<%= form_for @character do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %> <br><br>
    <%= f.label :strength %>
    <%= f.number_field :strength %> <br><br>
    <%= f.label :dexterity %>
    <%= f.number_field :dexterity %> <br><br>
    <%= f.label :constitution %>
    <%= f.number_field :constitution %> <br><br>
    <%= f.label :intelligence %>
    <%= f.number_field :intelligence %> <br><br>
    <%= f.label :wisdom %>
    <%= f.number_field :wisdom %> <br><br>
    <%= f.label :charisma %>
    <%= f.number_field :charisma %> <br><br>
    <%= f.label :armor_rating %>
    <%= f.number_field :armor_rating %> <br><br>
    <%= f.label :max_hp %>
    <%= f.number_field :max_hp %> <br><br>
    <%= f.label :current_hp %>
    <%= f.number_field :current_hp %> <br><br>
    <%= f.label :experience %>
    <%= f.number_field :experience %> <br><br>

    <%= f.label :user_id %>
    <%= f.collection_select :user_id , User.all, :id, :username%> <br><br>
    <%= f.label :campaign_id %>
    <%= f.collection_select :campaign_id, Campaign.all, :id, :title %> <br><br>

    <h2> Item Catalogue </h2>
        <% Item.all.each do |o|%>
            <li><strong><%= o.name %></strong></li>
            <ul><p> Price: <%= o.cost %><p>
            <p> Weight: <%= o.weight %><p>
            <p> Damage: <%= o.damage_dice %><p>
            <p> Armor Rating: <%= o.armor %><p></ul>
        <% end %>

    <h3> Select your items </h3>
    <ul>
   <strong> <%= f.collection_check_boxes :item_ids, Item.all, :id, :name %></strong>
    </ul>
    <br><br>




    <%= f.submit %>  
<% end %>




<h3> Go back to home </h3>
<%= button_to 'Go back', root_path, method: :get %>

