<!DOCTYPE html>
<html>
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css">
<body>


<nav class="w3-sidebar w3-bar-block w3-card w3-animate-left w3-center" style="display:none" id="mySidebar">
  <h1 class="w3-xxxlarge w3-text-theme">Side Navigation</h1>
  <button class="w3-bar-item w3-button" onclick="w3_close()">Close <i class="fa fa-remove"></i></button>
  <a href="#" class="w3-bar-item w3-button">Link 1</a>
  <a href="#" class="w3-bar-item w3-button">Link 2</a>
  <a href="#" class="w3-bar-item w3-button">Link 3</a>
  <a href="#" class="w3-bar-item w3-button">Link 4</a>
</nav>

<header class="w3-container w3-theme w3-padding" id="myHeader">
  <i onclick="w3_open()" class="fa fa-bars w3-xlarge w3-button w3-theme"></i> 
  <div class="w3-center">
  <h4>DUNGEONS AND DRAGONS</h4>
  <h1 class="w3-xxxlarge w3-animate-bottom">Character Profile</h1>
    <div class="w3-padding-32">
    </div>
  </div>
</header>


<div class="w3-row-padding w3-padding-64 w3-container">
  <div class="w3-content">
    <div class="w3-center">
<hr>
<h1> Character's Attributes </h1> 
<h3><%= @character.name %>'s Core Stats </h3>
<ul><p> Strength: <%= @character.strength %></p>
<p> Dexterity: <%= @character.dexterity %></p>
<p> Constitution: <%= @character.constitution %></p>
<p> Intellegence: <%= @character.intelligence %></p>
<p> Wisdom: <%= @character.wisdom %></p>
<p> Charisma: <%= @character.charisma %></p></ul>
<h3> Health Points: <%= @character.current_hp%> / <%= @character.max_hp %> </h3>
<h3><%= @character.name %>'s Damage Rating: <%= @character.damage%> </h3>
<h3><%= @character.name %>'s Armor Rating: <%= @character.armor_rating%> </h3>
</div>
</div>
</div>

<hr>

<div class="w3-row-padding w3-center w3-margin-top">
<h1> Character's Inventory </h1>
<div class="w3-third">
  <div class="w3-card w3-container" style="min-height:460px">
  <h3>Test</h3><br>
  <i  style="font-size:120px"></i>
<% @inventory.each do |o|%>
<li><strong><%= o.name %></strong></li>
<ul><p> Price: <%= o.cost %><p>
<p> Weight: <%= o.weight %><p>
<p> Damage: <%= o.damage_dice %><p>
<p> Armor Rating: <%= o.armor %><p></ul>
<% end %>
  </div>
</div>

<br><br><br><br><br><br><br><br>
<%= form_for @character, url: "/equipweapon/#{@character.id}", method: :post, action: @character do |f| %>
<h3> Select your weapon </h3>
<%= f.collection_select :item_ids, @inventory.select {|item| item.damage_dice >= 4}, :id, :name %><br><br>
<%= f.submit "Equip Weapon" %>
<% end %>
<br><br><br><br>
<%= form_for @character, url: "/equipshield/#{@character.id}", method: :post do |f| %>
<h3> Select your armor </h3>
<%= f.collection_select :item_ids, @inventory.select {|item| item.armor >= 11}, :id, :name %><br><br>
<%= f.submit "Equip Armor" %>
<% end %>
</div>
<hr>
<div class="w3-row-padding w3-padding-64 w3-container">
  <div class="w3-content">
    <div class="w3-center">
<h1> Edit or Delete this Character</h1> 
<%= button_to 'Edit Character', edit_character_path, method: :get %><br><br>
<%= button_to "Delete Character", @character, method: 'delete' %>
    </div>
</div>
</div>