<h1> <%= @character.name %> </h1> 
<h1> <%= @character.current_hp%> / <%= @character.max_hp %> </h1>
<h4> Armor Class: <%= @character.armor_rating %> Total Experiance: <%= @character.experience %> </h4><br>
<%= button_to 'Edit Character', edit_character_path, method: :get %>
<%= button_to "Delete Character", @character, method: 'delete' %>
<hr>
<h2> Attributes </h2>
<h3> Strength: <%= @character.strength %></h3>
<h3> Dexterity: <%= @character.dexterity %></h3>
<h3> Constitution: <%= @character.constitution %></h3>
<h3> Intellegence: <%= @character.intelligence %></h3>
<h3> Wisdom: <%= @character.wisdom %></h3>
<h3> Charisma: <%= @character.charisma %></h3>
<hr>


<h1> Character's Inventory </h1>

<% @inventory.each do |o|%>
<li><strong><%= o.name %></strong></li>
<ul><p> Price: <%= o.cost %><p>
<p> Weight: <%= o.weight %><p>
<p> Damage: <%= o.damage_dice %><p>
<p> Armor Rating: <%= o.armor %><p></ul>

<% end %>
<%= form_for @character, :as => :character, :url => equip_path(@character) do |f| %>
<h3> Select your weapon </h3>
<%= f.collection_select :item_ids, @inventory.select {|item| item.damage_dice >= 4}, :id, :name %><br><br>
<h3> Select your armor </h3>
<%= f.collection_select :item_ids, @inventory.select {|item| item.armor >= 11}, :id, :name %><br><br>
<%= f.submit "Equip Items" %>
<% end %>

